.options {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}
.options button {
    border-radius: 10px;
    border: 1px black;
    color: black;
    width: 78px;
    line-height: 0;
    height: 32px;
    transition: opacity 250ms ease;
}
.options button:hover {
    opacity: 0.7;
}